<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.HairStyle.springmvc.dao.ICompanyDao">
	
	<resultMap id="PostByUserResultMap" type="com.HairStyle.springmvc.model.Company">
		<id property="user_id" column="user_id" />
		<result column="user_name" property="user_name" />
		<association property="user_pic" column="pic_id" javaType="com.HairStyle.springmvc.model.User_Pic" resultMap="User_PicMap"/>
		<collection property="posters" javaType="java.util.List" ofType="com.HairStyle.springmvc.model.Poster">
			<id property="post_id" column="post_id" />
			<result column="post_type" property="post_type" />
			<result column="post_content" property="post_content" />
			<result column="post_time" property="post_time" />
			<result column="last_edit_time" property="last_edit_time" />
			<result column="like_id" property="like_id" jdbcType="INTEGER" />
			<result column="collect_id" property="collect_id" jdbcType="INTEGER" />
			<result column="like_num" property="like_num" jdbcType="INTEGER" />
			<result column="collect_num" property="collect_num" jdbcType="INTEGER" />
			<collection property="post_pic" javaType="java.util.List" ofType="com.HairStyle.springmvc.model.Post_Pic">         
            	<id column="idpost_pic" property="idpost_pic" />
            	<result column="seq_id" property="seq_id"  />
            	<result column="post_pic_dir" property="post_pic_dir"  />
        	</collection>
        </collection>
	</resultMap>


	<!--商户注册-->
	<insert id="regicompanyDao" parameterType="com.HairStyle.springmvc.model.Company">
		insert into company (company_name,company_user_id,location,company_intr)
		VALUES
		(#{company_name},#{company_user_id},#{location},#{company_intr})
	</insert>
	
	<!--商户信息修改-->
	<update id="modifycompanyDao" parameterType="com.HairStyle.springmvc.model.Company">
		update company set company_name=#{company_name},location=#{location},company_intr=#{company_intr}
		where company_id=#{company_id}
	</update>
	
	<!--商户信息查看-->
	
	<!--发型师信息录入-->
	<insert id="regiHairstyleDao" parameterType="com.HairStyle.springmvc.model.Hairstyler">
		insert into hairstylist (hairstyle_name,hairstyle_intr,hairstyle_pic,hairstyle_level,hairstyle_company_id)
		VALUES
		(#{hairstyle_name},#{hairstyle_intr},#{hairstyle_pic},#{hairstyle_level},#{hairstyle_company_id})
	</insert>
	
	<!--发型师信息修改-->
	<update id="modifyHairstyleDao" parameterType="com.HairStyle.springmvc.model.Company">
		
		update hairstylist set hairstyle_name=#{hairstyle_name},hairstyle_intr=#{hairstyle_intr}
		<if test="hairstyle_pic != null">
            ,hairstyle_pic=#{hairstyle_pic}
        </if>		
		where hairstyle_id=#{hairstyle_id}
	</update>
	
	
	<!--删除发型师-->
	<delete id="deleteHairstyleDao" parameterType="java.lang.String">  
        delete from hairstylist where hairstyle_id = #{hairstyle_id}  
	</delete>  
	
	<!-- 查看商家下的发型师 -->
	<select id="getHairstylistDao" parameterType="java.lang.String" resultMap="PostByTypeResultMap">
		select company.*,hairstylist.* 
		from company
		left join hairstylist on company.company_id=hairstylist.hairstyle_company_id    		
		where company_id=#{company_id}
	</select>
	
	<!-- 录入商品 -->
	<insert id="addproductDao" useGeneratedKeys="true" keyProperty="product_id" parameterType="com.HairStyle.springmvc.model.Hairstyler">
		insert into product (product_company_id,product_name,product_price,product_intr,product_amount,product_time)
		VALUES
		(#{product_company_id},#{product_name},#{product_price},#{product_intr},#{product_amount},#{product_time})
	</insert>
	
	<!-- 录入商品图片 -->
	<insert id="addproduct_picDao" parameterType="com.HairStyle.springmvc.model.Hairstyler">
		insert into product_pic (product_pic_id,product_seq_id,product_pic_dir,be_product_id,is_active)
		VALUES
		(#{product_pic_id},#{product_seq_id},#{product_pic_dir},#{be_product_id},1)
	</insert>
	
</mapper>