<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.HairStyle.springmvc.dao.ICompanyDao">	
	<resultMap id="ProductByCompanyMap" type="com.HairStyle.springmvc.model.Company">
		<id property="company_id" column="company_id" />
		<result column="company_intr" property="company_intr" />
		<result column="company_name" property="company_name" />
		<result column="company_user_id" property="company_user_id" />
		<collection property="LP" javaType="java.util.List" ofType="com.HairStyle.springmvc.model.Product">
			<id property="product_id" column="product_id" />
			<result column="product_intr" property="product_intr" />
			<result column="product_name" property="product_name" />
			<result column="product_price" property="product_price" />
			<result column="product_time" property="product_time" />
			<result column="product_amount" property="product_amount" />
			<result column="is_active" property="is_active" />
			<collection property="pp" javaType="java.util.List" ofType="com.HairStyle.springmvc.model.Product_Pic">         
            	<id column="product_pic_id" property="product_pic_id" />
            	<result column="product_seq_id" property="product_seq_id"  />
            	<result column="product_pic_dir" property="product_pic_dir"  />
        	</collection>
        </collection>
	</resultMap>
	
	<resultMap id="HairstyleByCompanyMap" type="com.HairStyle.springmvc.model.Company">
		<id property="company_id" column="company_id" />
		<result column="company_intr" property="company_intr" />
		<result column="company_name" property="company_name" />
		<result column="company_user_id" property="company_user_id" />
		<collection property="lh" javaType="java.util.List" ofType="com.HairStyle.springmvc.model.Hairstyler">
			<id property="hairstyle_id" column="hairstyle_id" />
			<result column="hairstyle_intr" property="hairstyle_intr" />
			<result column="hairstyle_level" property="hairstyle_level" />
			<result column="hairstyle_name" property="hairstyle_name" />
			<result column="hairstyle_pic" property="hairstyle_pic" />
			<result column="is_active" property="is_active" />
        </collection>
	</resultMap>
	
	<resultMap id="CompanyByUserMap" type="com.HairStyle.springmvc.model.User">
  		<id property="user_id" column="user_id" />
		<result column="user_name" property="user_name" />
		<result column="password" property="password" />
		<result column="email" property="email" />
		<result column="gender" property="gender" />
		<result column="birth_date" property="birth_date" />
		<result column="phone_area" property="phone_area" />
		<result column="phone_number" property="phone_number" />
		<result column="face_type" property="face_type" />
		<result column="career" property="career" />
		<result column="create_time" property="create_time"  />
		<result column="country" property="country" />
		<result column="province" property="province" />
		<result column="area" property="area" />
		<result column="user_type" property="user_type" />
		<association property="company" column="company_id" javaType="com.HairStyle.springmvc.model.Company" resultMap="CompanyMap"/>
		<association property="user_pic" column="pic_id" javaType="com.HairStyle.springmvc.model.User_Pic" resultMap="User_PicMap"/>		
	</resultMap>
	
	<resultMap id="User_PicMap" type="com.HairStyle.springmvc.model.User_Pic">
		<id property="pic_id" column="pic_id"/>
		<result column="user_pic_dir" property="user_pic_dir"/>
	</resultMap>
	
	<resultMap id="CompanyMap" type="com.HairStyle.springmvc.model.Company">
		<id property="company_id" column="company_id"/>
		<id property="company_name" column="company_name"/>
		<id property="location" column="location"/>
		<id property="company_intr" column="company_intr"/>
	</resultMap>

	<!--商户注册-->
	<insert id="regicompanyDao" parameterType="com.HairStyle.springmvc.model.Company">
		insert into company (company_name,company_user_id,location,company_intr)
		VALUES
		(#{company_name},#{company_user_id},#{location},#{company_intr})
	</insert>
	
	<!--商户信息修改-->
	<update id="modifycompanyDao" parameterType="com.HairStyle.springmvc.model.Company">
		update company set company_name=#{company_name},location=#{location},company_intr=#{company_intr}
		where company_id=#{company_id}
	</update>
	
	<!--商户信息查看-->
	
	<!--发型师信息录入-->
	<insert id="regiHairstyleDao" parameterType="com.HairStyle.springmvc.model.Hairstyler">
		insert into hairstylist (hairstyle_name,hairstyle_intr,hairstyle_pic,hairstyle_level,hairstyle_company_id,create_time,is_active)
		VALUES
		(#{hairstyle_name},#{hairstyle_intr},#{hairstyle_pic},#{hairstyle_level},#{hairstyle_company_id},#{create_time},1)
	</insert>
	
	<!--发型师信息修改-->
	<update id="modifyHairstyleDao" parameterType="com.HairStyle.springmvc.model.Company">		
		update hairstylist set hairstyle_name=#{hairstyle_name},hairstyle_intr=#{hairstyle_intr}
		<if test="hairstyle_pic != null">
            ,hairstyle_pic=#{hairstyle_pic}
        </if>		
		where hairstyle_id=#{hairstyle_id}
	</update>
	
	
	<!--删除发型师-->
	<update id="deleteHairstyleDao" parameterType="java.lang.String">  
        update hairstylist set is_active=0 where hairstyle_id = #{hairstyle_id}  
	</update>  
	
	<!-- 查看商家下的发型师 -->
	<select id="getHairstylistDao" parameterType="java.lang.String" resultMap="HairstyleByCompanyMap">
		select company.*,hairstylist.* 
		from company
		left join hairstylist on company.company_id=hairstylist.hairstyle_company_id	
		where company_id=#{company_id}
	</select>
	
	
	<select id="getHairstyleDao" parameterType="java.lang.String" resultType="com.HairStyle.springmvc.model.Hairstyler">
		select hairstylist.* 
		from hairstylist
		where hairstyle_id=#{hairstyle_id}
	</select>
	
	<!-- 录入商品 -->
	<insert id="addproductDao" useGeneratedKeys="true" keyProperty="product_id" parameterType="com.HairStyle.springmvc.model.Product">
		insert into product (product_company_id,product_name,product_price,product_intr,product_amount,product_time,is_active)
		VALUES
		(#{product_company_id},#{product_name},#{product_price},#{product_intr},#{product_amount},#{product_time},1)
	</insert>
	
	<!--删除商品-->
	<update id="deleteProductDao" parameterType="java.lang.String">  
        update product set is_active=0 where product_id=#{product_id}
	</update> 
	
	<!-- 录入商品图片 -->
	<insert id="addproduct_picDao" parameterType="com.HairStyle.springmvc.model.Product_Pic">
		insert into product_pic (product_pic_id,product_seq_id,product_pic_dir,be_product_id,is_active)
		VALUES
		(#{product_pic_id},#{product_seq_id},#{product_pic_dir},#{be_product_id},1)
	</insert>
	
	<!-- 查找商品图片是否存在 -->
	<select id="search_product_picDao" parameterType="java.util.Map" resultType="com.HairStyle.springmvc.model.Product_Pic">
		SELECT
		product_pic.*
		FROM
		product_pic
		WHERE
		product_seq_id=#{product_seq_id} and be_product_id=#{be_product_id} and is_active=1
	</select>
	
	<!-- 删除商品图片 -->
	<update id="deleteproduct_picDao" parameterType="java.util.Map">
		update product_pic set is_active=0 where be_product_id=#{be_product_id} and product_seq_id=#{product_seq_id} and is_active=1 or product_pic_id=#{product_pic_id}
	</update>
	
	<!-- 更新商品信息 -->
	<update id="modifyproductDao" parameterType="com.HairStyle.springmvc.model.Product">
		update product set product_name=#{product_name},product_intr=#{product_intr},
		product_amount=#{product_amount},product_price=#{product_price} 		
		where product_id=#{product_id}
	</update>
	
	<!-- 商户下的商品 -->
	<select id="findproductbycomDao" parameterType="java.util.Map" resultMap="ProductByCompanyMap">
		select company.company_id,company.company_name,company.company_user_id,company.company_intr,
			product.product_id,product.product_name,product.product_price,product.product_intr,product.product_amount,product.product_time,product.is_active
			product_pic.product_pic_id,product_pic.product_seq_id,product_pic.product_pic_dir
		from company
		left join (product 
			left join product_pic on product_pic.be_product_id=product.product_id and product_pic.is_active=1)
		on product.product_company_id=company.company_id
		where company_id=#{company_id}		
	</select>
	
	<!-- 查看商家基本信息 -->
	<select id="scan_businessDao" parameterType="java.lang.String" resultMap="CompanyByUserMap">
		SELECT
		user.*,user_pic.*,company.*
		FROM
		company
		left join user left join user_pic on user.user_id=user_pic.uploader_id
		on user.user_id=company.company_user_id
		WHERE
		company.company_id=#{company_id}
	</select>
	
</mapper>