<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.HairStyle.springmvc.dao.IPosterDao">
	<resultMap id="BaseResultMap" type="com.HairStyle.springmvc.model.Poster">
		<result column="post_user_id" property="post_user_name" jdbcType="VARCHAR" />
		<result column="post_id" property="post_id" jdbcType="VARCHAR" />
		<result column="post_type" property="post_type" jdbcType="VARCHAR" />
		<result column="post_content" property="post_content" jdbcType="VARCHAR" />
		<result column="post_time" property="post_time" jdbcType="DATE" />
		<result column="last_edit_time" property="last_edit_time" jdbcType="DATE" />
		<collection property="post_pic_collect" javaType="java.util.List" ofType="com.HairStyle.springmvc.model.Post_Pic">
            <result column="idpost_pic" property="idpost_pic" jdbcType="VARCHAR" />
            <result column="seq_id" property="seq_id" jdbcType="VARCHAR" />
            <result column="post_pic_dir" property="post_pic_dir" jdbcType="VARCHAR" />
            <result column="pic_post_id" property="pic_post_id" jdbcType="VARCHAR" />
            <result column="is_active" property="is_active" />
        </collection>
	</resultMap>


	<!--用户发布贴文 -->
	<insert id="post_articleDao" parameterType="java.util.Map">
		insert into poster (post_user_id,post_id,post_type,post_content,post_time,pic_one,pic_two,pic_three,pic_four,pic_five,pic_six,pic_seven,pic_eight,pic_nine)
		VALUES
		(#{post_user_id},#{post_id},#{post_type},#{post_content},#{post_time})	
	</insert>
	
	<insert id="insert_post_pic" parameterType="java.util.Map">
		insert into post_pic (idpost_pic,seq_id,post_pic_dir,pic_post_id,is_active)
		VALUES
		(#{idpost_pic},#{seq_id},#{post_pic_dir},#{pic_post_id},1)
	</insert>
		
	<!--按帖子类型展示所有贴文 -->
	<select id="findPostByPost_typeDao" resultMap="BaseResultMap">
		select post.*,post_pic.*,user.user_name 
		from post,post_pic,user
		where 
		post.post_type=#{post_type} and post_pic.pic_post_id=post.post_id and post.post_user_id=user.user_id 
		and post_pic.is_active=1
	</select>
	
	
	<select id="findPostByUser_nameDao" resultMap="BaseResultMap">
		select post.*,post_pic.*,user.user_name 
		from post,post_pic,user
		where user.user_name=#{user_name} and post_pic.pic_post_id=post.post_id and post.post_user_id=user.user_id and post_pic.is_active=1
	</select>
	
	
	<!--修改帖子 -->
	<update id="modifyPosterByPoster_id" parameterType="java.util.Map">
		update poster set post_type=#{post_type},post_content=#{post_content},
		last_edit_time=#{last_edit_time} where post_id=#{post_id}
	</update>
	
	<update id="modifyPhotoCancelActive" parameterType="java.util.Map">
		update post_pic set is_active=0, where pic_post_id=#{pic_post_id} and seq_id=#{pic_post_id} and is_active=1
	</update>
	


</mapper>  