<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">
	<!-- 配置组件扫描 -->
	<context:component-scan base-package="com.HairStyle.springmvc.controller" />
	<!-- 配置MVC注解扫描 -->
	<mvc:annotation-driven />
	<!-- 配置视图解析器， -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" /><!-- 前缀 -->
		<property name="suffix" value=".jsp" /><!-- 后缀 -->
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize">
			<value>10485760</value>
		</property>
		<property name="maxInMemorySize">
			<value>4096</value>
		</property>
		<property name="defaultEncoding">
			<value>utf-8</value>
		</property>
	</bean>
	<mvc:interceptors>
        <!-- <mvc:interceptor>
            <mvc:mapping path="/download/**" />
            <mvc:mapping path="/upload/**" />
            <bean class="com.xxxx.interceptor.AuthInterceptor" />
        </mvc:interceptor> -->
        <!-- 检查用户权限，对于部分不需要权限的路径进行排除 -->
        <mvc:interceptor>
            <!-- 先匹配所有路径，然后排除不需要检查的路径 -->
          	<!--   <mvc:mapping path="/**" />--> 
          	<mvc:mapping path="/api/deletepost" />
          	<mvc:mapping path="/api/modify_post" />
          	<mvc:mapping path="/api/new_post" />
          	<mvc:mapping path="/api/logout" />
          	<mvc:mapping path="/api/modifyUser_data" />
          	<mvc:mapping path="/api/modifyUser_dataHeadPic" />
            <!-- 与登录相关的请求 -->
            <!--  <mvc:exclude-mapping path="/api/login" />-->
            <!-- 以下是静态资源 -->
            <mvc:exclude-mapping path="/img/**" />
            <mvc:exclude-mapping path="/css/**" />
            <mvc:exclude-mapping path="/bootstrap/**" />
            <mvc:exclude-mapping path="/js/**" />
            <!-- 客户端文件上传下载，不使用该校验 -->
            <!-- <mvc:exclude-mapping path="/download/**" />
            <mvc:exclude-mapping path="/upload/**" /> -->
            <!-- 用户是否已经登录的检查 -->
            <bean id="loginInterceptor" class="com.HairStyle.springmvc.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
    
    <mvc:annotation-driven>
	<mvc:message-converters>
	<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
	<property name="objectMapper">
	<bean class="com.fasterxml.jackson.databind.ObjectMapper">
	<property name="serializationInclusion"> 
	<value type="com.fasterxml.jackson.annotation.JsonInclude.Include">NON_NULL</value> 
	</property>
	</bean>
	</property>
	</bean>
	</mvc:message-converters>
	</mvc:annotation-driven>
    
	<mvc:resources mapping="/pic/**/" location="file:D:/HairStyle/HairStyle/src/main/resources/picture" cache-period="3155926"/>
    
</beans>